#field_templates {
  width: 25%;
  height: 1000px;
  background-color: gray;
  float: right;
  display: inline-block;
}

.field_name {
	background-color: yellow;
	border-radius: 10px;
}

#container {
	width: 74%;
	height: 1000px;
	background-color: #B8B8B8;
  display: inline-block;
}

ul {
list-style-type: none;

}

ul li {
  background-color: blue;
  height: 50px !important;
  border-radius: 5px;
}

input {
  height: 20px;
  border-radius: 6px;
}